{% extends 'mypizza/base.html' %}
{% load static %}

{% block title %}
    Ваша корзина
{% endblock %}

{% block content %}
    <h1 class="cart" style="margin-left: 40px;">Ваша корзина</h1>
    <table class="cart" style="width: 95%; margin-left: 40px">
        <thead>
            <tr>
                <th>Изображение</th>
                <th>Пицца</th>
                <th>Цена</th>
                <th>Удалить</th>
        </thead>
        <tbody>
            {% for item in cart %}
                <tr>
                    <td><img src="{{ item.pizza.image.url }}" alt="{{ item.pizza.title }}" style="max-width: 100px;"></td>
                    <td>{{ item.pizza.title }}</td>
                    <td>{{ item.pizza.price }}</td>
                    <td>
                        <form action="{% url 'cart:cart_remove' item.pizza.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="margin-left: 40px;">
        <a href="{% url 'mypizza:pizza_list' %}" class="button light" style="display: inline-block; margin-right: 10px;">Продолжить покупки</a>
        <a href="{% url "orders:order_create" %}" class="button" style="display: inline-block;">Оформить заказ</a>
    </div>
{% endblock %}
